.appContainer {
    display: flex;
    flex-direction: column;
}
/* TODO: finish header ui */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
}

.header .searchBar {
    margin: 10px 20px 10px 10px;
}

.header .filterCont {
    display: flex;
    margin: 10px 10px 10px 10px;
}

.RecipeLists {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
  padding: 1rem;
}
